.stopwatch {
  text-align: center;
}

.time-display {
  font-size: 38px;
  margin-bottom: 10px;
}

.final-time {
  border: 1px solid whitesmoke;
  border-radius: 8px;
  padding: 5px 5px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #1B1E1F;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.disabled {
  padding: 10px 20px;
  font-size: 16px;
  cursor: default;
  border: none;
  background-color: #1B1E1F;
  color: #808080;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}